.navSignText {
  color: white;
  font-size: 24px;
  font-family: "Frutiger";
}

.speedSignText {
  color: black;
  font-size: 33px;
  font-family: "Frutiger";
}

.speedSignDiv {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform: scale(1,1.2);
  -moz-transform: scale(1,1.2);
  -ms-transform: scale(1,1.2);
  -o-transform: scale(1,1.2);
  transform: scale(1,1.2);
}

.navSignDiv {
  -webkit-transform: scale(1,1.2);
  -moz-transform: scale(1,1.2);
  -ms-transform: scale(1,1.2);
  -o-transform: scale(1,1.2);
  transform: scale(1,1.2);
}

@font-face {
  font-family: "Frutiger";
  src: url("../Fontkits/frutiger_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Frutiger-Bold";
  src: url("../Fontkits/frutiger-webfont.woff") fromat("woff");
  font-weight: normal;
  font-style: normal;
}
